@font-face {
  font-family: "GT America";
  src: url("../fonts/GT America Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America-Standard-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Whyte";
  //src: url('../fonts/Whyte-Medium.eot');
  src: local("Whyte Medium"), local("Whyte-Medium"), url("../fonts/Whyte-Medium-New.woff2") format("woff2"),
    url("../fonts/Whyte-Medium-New.woff") format("woff"), url("../fonts/Whyte-Medium-New.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  vertical-align: middle;
}
